@import 'tailwindcss';

@theme {
	--font-sans:
		ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	--font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
	--font-mono:
		ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
		monospace;
	--color-primary: #22223b;
	/* 4A4E69 */
	--color-secondary: #c9ada7;
	/* C9ADA7 */
	--color-bg: #f2e9e4;

	--color-text: #2c2c2c;
	--color-text-inverted: #f4f4f4;
	--color-text-muted: #6b7280; /* weniger betonter Text */
	--color-disabled: #b1b1b1;

	--color-success: oklch(84.5% 0.143 164.978);
	--color-warning: #facc15;
	--color-error: #dc2626;
	--color-info: #3b82f6;
}

/* @theme .dark {
	--color-primary: #738ab8;
	--color-secondary: #fbbf24;
	--color-bg: #111827;
	--color-text: #e5e7eb;
} */

:root {
	color: var(--color-text);
	background-color: var(--color-bg);
}
