@import 'tailwindcss';

@theme {
	--font-sans:
		ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	--font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
	--font-mono:
		ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
		monospace;
	--color-primary: #22223b;
	--color-secondary: #9a8c98;
	--color-bg: #f2e9e4; /* allgemeiner Hintergrund */
	--color-surface: #ffffff; /* Karten, Panels, etc. */
	--color-border: #e5e7eb; /* dezente Linien */
	--color-text: #1f2937; /* Standard-Textfarbe */
	--color-text-muted: #6b7280; /* weniger betonter Text */

	--color-success: oklch(76.5% 0.177 163.223);
	--color-warning: #facc15;
	--color-error: #dc2626;
	--color-info: #3b82f6;
}

/* @theme .dark {
	--color-primary: #738ab8;
	--color-secondary: #fbbf24;
	--color-bg: #111827;
	--color-text: #e5e7eb;
} */

:root {
	color: var(--color-text);
	background-color: var(--color-bg);
	/* --color-primary: oklch(96.351% 0.18816 112.365); */
}
